* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.679);
    backdrop-filter: blur(5px);
}

.logo {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #d70000;
}

.project-container {
    padding-top: 50px;

}

.project-main-image {
    width: 100%;
    height: 80vh;
    background: #1a1a1a;
}

.project-main-image img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    display: block;
}


.project-info {
    background: black;
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-info h1 {
    font-size: 32px;
    letter-spacing: 4px;
    font-weight: normal;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
}

.project-description p {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: #cccccc;
}

.contact-button {
    width: fit-content;
    background: transparent;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

.contact-button:hover {
    background: white;
    color: black;
}

.project-gallery {
    padding: 0;
    display: block;
    width: 100%;
    margin: 20px 0;
}

.project-gallery img {
    width: 100vw;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 20px 0;
}

.project-gallery video {
    width: 100vw;
    max-height: 80vh;
    object-fit: contain;
    display: block;
    margin: 40px 0;
    background: black;
}



@media (max-width: 768px) {
    .gallery-row {
        grid-template-columns: 1fr;
    }
    
    .project-info {
        padding: 40px 5%;
    }
}